# gitignore for AVR_KERNEL

autogen/
build/
docs/

tags

gdb_history

cscope/
cscope.files
cscope.out
cscope.in.out
cscope.po.out

*.rar
*.vcd
*.swp
*.s
*.o
*.i
*.d
*.a
*.elf
*.hex
*.eep
*.lst
*.map
*.su
